@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


body{
  font-family: 'Montserrat' !important;
}

.logo-img{
  height: auto;
  width: 200px;
}
.navbar-link{
  font-style: normal;
  font-weight: 500 !important;
  font-size: 18px !important;
  color: #23293F !important;
  padding: 9px 34px !important;
}
.header{
  padding: 25px 80px !important;
}
.main-title{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 67px;
color: #23293F;
}
.main-para{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 32px;
color: #23293F;
margin: 23px 0px;
}
.banner-row{
  padding: 25px 80px !important;
}
.main-cta{
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  text-align: center;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  margin: 23px 0px;
  color: #FFFFFF;
  width: 100%;
  max-width: 209px;
  height: auto;
  min-height: 50px;
  background: #F99D16;
  border-radius: 50px;
  padding: 15px 12px;
  text-decoration: none;
}
.banner-gif{

}
.high-span{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #272727;
}
.high-label{
  width: 100% !important;
  max-width: 147px !important;
height: 37px;
border: 1px solid #F99D16;
border-radius: 3px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 17px;
}
.high-row{
  padding: 5px 80px !important;
}
.high-icon{
  height: 50px;
  width: auto;
}
.high-title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 35px;
margin-bottom: 0px !important;
color: #23293F;
height: 28px;
}
.ml-6p{
  margin-left: 6px;
}
.high-sub{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;

color: #23293F;
}
.high-wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 25px !important;
}
.row-pad{
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.intro-span{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #23293F;
  border-left: 20px solid #F99D16;
  padding-left: 10px;
  
}
.intro{
  padding-top: 150px;
}
.intro-img{
  width: 100%;
  height: auto;
  max-width: 430px;
}
.intro-title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 49px;
color: #23293F;
margin-top: 10px;
}
.intro-para{
  font-family: 'Montserrat';
  margin-top: 20px;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 36px;
color: #23293F;
}
.intro-wrap{
  padding-top: 30px;
  padding-left: 20px;
}
.intro-boxes{
  background: #2B2F90;
  border-radius: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 42px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0 10px;
  margin: 10px 10px;
}
.intro-box-wrap{
  display: flex;
  flex-wrap: wrap;
}
.sub-title{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 35pxpx;
line-height: 45px;
color: #273B59;
text-align: center;
}
.sub-title-bold{
  font-weight: 600;
}
.why-mobile{
  padding-top: 100px;
}
.why-bg{
  background: #F8F8F8;
  padding-top: 100px;
}
.why-mobile-img{
  width: 100%;
  height: auto;
}
.why-h4{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #000000;
margin-top: 15px;
}
.why-para{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
color: #000000;
margin-top: 15px;
}
.why-ul{
  padding-left: 15px !important;
}
.why-col{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ptb-30{
  padding-top: 30px;
  padding-bottom: 30px;
}
.sol-img{
  width: 100%;
  height: 100%;
}
.pt-100{
  padding-top: 100px;
}
.sol-bg{
  background: #2B2F90;
}
.sol-h3{
  color: #FFFFFF !important;
  padding:64px 100px 32px 100px !important;
  text-align: initial !important;
}
.check-icon{
  width: auto;
  margin-top: 9px;
  height: 30px;
}
.sol-span{
  color: #FFB74E !important;
}
.sol-sub{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 45px;
color: #FFFFFF;
margin-bottom: 0;
height: 36px;
}
.sol-para{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 23px;
line-height: 45px;

color: #FFFFFF;
}
.ml-7{
  margin-left: 7px;
}
.solwrap{
  padding: 20px 100px;
}
.feat-card{
  width: 100% !important;
  max-width: 370px !important;
  background: #FFFFFF;
border: 1px solid #DFDFDF;
box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
border-radius: 22px;
padding: 32px 45px;
margin: 0px 20px 30px 20px;

}
.ml-25{
  margin-left: 25px;
}
.feat-point{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 34px;
color: #23293F;
padding-top: 18px;
}
.feat-para{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
padding-bottom: 15px;
padding-top: 5px;
color: #292929;
}
.help{
  background-image: url(./assets/img/help-bg.png);
background-size: contain;
}
.help-div{
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help-h2{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 32px;
margin-top: 40px;
  color: #FFFFFF;
}
.help-span{
  font-weight: 600 !important;
}
.help-span-2{
  color: #F99D16 !important;
}
.help-para{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
padding: 0px 85px;
  text-align: center;
  margin-top: 20px;
  
  color: #FFFFFF;
  
}
.fomr-h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  color: #273B59;
  text-align: left;
  border-left: 30px solid #F99D16;
  padding-left: 15px;
}
.pt-100{
  padding-top: 100px;
}
.form-para{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 36px;
color: #23293F;
padding: 20px 0;
}
.form-points{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 34px;
color: #363636;
padding-left: 12px;
}
.check-green{
  width: auto;
  height: 25px;
  margin-top: 4px;
}
.mtb-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-div{
  background: #FFFFFF;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
padding: 30px;
}
.form-heading{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 45px;
text-align: center;
padding-top: 15px;
color: #23293F;
}
.form-span{
  font-weight: 600;
}
.form-label{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 42px;
margin-bottom: 0 !important;
color: #23293F;
}
.text-area{
  height: 150px;
}
.btn-form{
  margin-top: 10px;
  background-color: 
  #F99D16;
  border: none;
  color: white;
  padding: 10px 55px;
  border-radius: 45px;
}
.mt-30{
  margin-top: 30px;
}


footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;

}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3vw;
  padding: 72px 8vw;
  color: #e2e0e5;
}

.footer .h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #23293F;
}
.footer p{
  color: #23293F;
}

.footer .brand .h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  gap: 16px;
}

.footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.footer .brand {
  max-width: 200px;
  gap: 24px;
  line-height: 1.5;
}

.newsletter {
  position: relative;
}

.newsletter input {
  font-size: 16px;
  font-weight: 400;
  height: 53px;
  padding: 6px 6px 6px 16px;
  background: transparent;
  border: 1px solid #e2e0e5;
  color: #e2e0e5;
  outline: none;
  border-radius: 14px;
  font-size: 16px;
  width: 370px;
}

.newsletter button {
  position: absolute;
  padding: 16px 40px;
  height: 53px;
  border-radius: 10px;
  border: none;
  background-color: #2B2F90;
  font-size: 16px;
  font-weight: 500;
  color: #3a0ca3;
  right: 6px;
  top: 6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.newsletter button:hover {
  cursor: pointer;
  border-radius: 70px 10px 70px 10px;
  -webkit-box-shadow: -10px 0px #e2e0e5;
          box-shadow: -10px 0px #e2e0e5;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.social .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.21);
  border-radius: 20% 20% 20% 20%;
}

.social a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social a:hover {
  -webkit-box-shadow: 0px 0px 20px 1px #726193;
          box-shadow: 0px 0px 20px 1px #726193;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.copyright p a {
  color: #fff;
}
.copyright p {
  color: #fff;
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 32px 8vw;
  background-color: #2B2F90;
}

.copyright a {
  color: #0a001a;
  margin: 0 1vw 0 1vw;
}

.copyright a:last-child {
  margin-right: 0;
}

.copyright a::before {
  background-color: #0a001a !important;
}



a {
  text-decoration: none;
}

footer a {
  position: relative;
  text-decoration: none;
  color: #23293F;
}

footer a:not(.social-icon)::before {
  background-color: #e2e0e5;
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

footer a:hover::before {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@media (max-width: 960px) {
  .footer {
    gap: 72px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .footer .brand {
    max-width: 400px !important;
  }
  .subscribe {
    display: block;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  .subscribe .newsletter {
    width: 100%;
    max-width: 370px;
  }
  .subscribe .newsletter input {
    width: calc(100% - 22px);
  }
  .copyright {
    padding: 32px 5vw;
  }
  .copyright p,
  .copyright a {
    font-size: 14px;
  }
  .footer {
    padding: 72px 8vw;
  }
}

@media (max-width: 360px) {
  p,
  a {
    font-size: 14px;
  }
  .footer .h5 {
    font-size: 16px;
  }
}
.footer-logo{
  height: auto;
  width: 200px;
}

@media only screen and (max-width: 768px) {
 
  .main-title{
    font-size: 45px;
    text-align: center;
  }
  .banner-res{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-para{
    text-align: center;
  }
  .banner-gif{
    height: 298px;
  }
  .high-wrap{
    flex-direction: column;
  }
  .high-res{
    margin: 35px 0;
  }
  .high-row{
    display: flex;
    justify-content: center;
    
  }
  .sol-res{
    display: none;
  }
  .solwrap{
    padding: 20px 10px;
  }
  .sol-h3{
    padding: 64px 10px 32px 10px !important;
  }
  .sol-sub{
    line-height: 27px;
    font-size: 20px;
  }
  .sol-para{
    font-size: 20px;
    line-height: 28px;
  }
  .check-icon{
    margin-top: 0;
    height: 24px;
  }
  .help{
    background-size: cover;
  }
  .row-pad{
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .help-h2{
    font-size: 35px;
  }
  .help-para{
    padding: 0;
    font-size: 20px;
  }
  .form-res{
    margin-top: 72px !important;
  }
  .mobile-res{
    display: flex;
    justify-content: center;
  }
  .why-mobile-img{
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  .banner-row{
padding: 25px 8px !important;
  }
  .high-row{
    padding: 5px 40px !important;
  }
  .intro-wrap{
    padding-left: 0;
  }
  .intro-title{
    font-size: 35px;
  }
  .feat-card img{
    height: auto;
    width: 50px;
  }
}

